{% extends 'gestorbase.html.twig' %}

{% block title %}Solicitudes de Requerimientos{% endblock %}

{% block container %}
    <h1>Indice de Solicitudes de Requerimientos</h1>

    <a href="{{ path('homepage') }}" class="btn btn-warning">Back</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Servicio</th>
                <th>Procedencia</th>
                <th>Asunto</th>
                <th>Estado</th>
                <th>Creado</th>
                <th>Modificado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% set area = 0 %}
        {% for solicitud_requerimiento in solicitud_requerimientos %}
            {% if area is not same as(solicitud_requerimiento.area.id) %}
                <tr class="warning">
                    <th colspan="8"> Area - {{ solicitud_requerimiento.area }}</th>
                </tr>
                {% set area = solicitud_requerimiento.area.id %}
            {% endif %}
            <tr>
                <td>{{ solicitud_requerimiento.id }}</td>
                <td>{{ solicitud_requerimiento.servicio }}</td>
                <td>{{ solicitud_requerimiento.procedenciaDepartamento }}</td>
                <td>{{ solicitud_requerimiento.asunto }}</td>
                <td>{{ solicitud_requerimiento.estado }}</td>
                <td>{{ solicitud_requerimiento.creado|localizeddate('medium', 'short', 'es_VE', null) }}</td>
                <td>{{ solicitud_requerimiento.modificado|localizeddate('medium', 'short', 'es_VE', null) }}</td>
                <td>
                    <a href="{{ path('solicitud_requerimientos_show', {'id': solicitud_requerimiento.id}) }}" class="btn btn-default">Mostrar</a>
                    {% if is_granted('ROLE_CORDGN') %}
                        <a href="{{ path('solicitud_requerimientos_edit', {'id': solicitud_requerimiento.id}) }}" class="btn btn-success">Editar</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}