{% extends 'gestorbase.html.twig' %}

{% block title %}Solicitud de Requerimientos{% endblock %}

{% block container %}
    <h1>Solicitud de Requerimientos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ solicitud_requerimiento.id }}</td>
            </tr>
            <tr>
                <th>Asunto</th>
                <td>{{ solicitud_requerimiento.asunto }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ solicitud_requerimiento.descripcion | default("Sin Descripción") }}</td>
            </tr>
            <tr>
                <th>Departamento de Procedencia</th>
                <td>{{ solicitud_requerimiento.procedenciaDepartamento | default("") }}</td>
            </tr>
            <tr>
                <th>Telefono de Procedencia</th>
                <td>{{ solicitud_requerimiento.procedenciaTelefono | default("") }}</td>
            </tr>
            <tr>
                <th>Correo de Procedencia</th>
                <td>{{ solicitud_requerimiento.procedenciaEmail | default("") }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ solicitud_requerimiento.estado }}</td>
            </tr>
            <tr>
                <th>Creado</th>
                <td>{{ solicitud_requerimiento.creado | localizeddate('medium', 'short', 'es_VE', null) }}</td>
            </tr>
            <tr>
                <th>Modificado</th>
                <td>{{ solicitud_requerimiento.modificado | localizeddate('medium', 'short', 'es_VE', null) }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('solicitud_requerimientos_index') }}" class="btn btn-warning">Volver</a>

    <a href="{{ path('solicitud_requerimientos_edit', {'id': solicitud_requerimiento.id}) }}" class="btn btn-success">Editar</a>

    <a href="{{ path('solicitud_tarea_new', {'r_id': solicitud_requerimiento.id}) }}" class="btn btn-success">Crear Tarea</a>
{% endblock %}