{% extends 'gestorbase.html.twig' %}

{% block title %}GestorUsuario index{% endblock %}

{% block container %}
    <h1>GestorUsuario index</h1>

    <a href="{{ path('signup') }}" class="btn btn-default">Create new</a>
    <a href="{{ path('homepage') }}" class="btn btn-warning">Back</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Username</th>
                <th>Developer Area</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gestor_usuario in gestor_usuarios %}
            <tr>
                <td>{{ gestor_usuario.id }}</td>
                <td>{{ gestor_usuario.email }}</td>
                <td>{{ gestor_usuario.username }}</td>
                <td>{{ gestor_usuario.areaDesarrollo | default("Sin Area") }}</td>
                <td>{{ gestor_usuario.roles ? gestor_usuario.roles|join(', ') : '' }}</td>
                <td>
                    {# <a href="{{ path('gestor_usuario_show', {'id': gestor_usuario.id}) }}">show</a> #}
                    <a href="{{ path('gestor_usuario_edit', {'id': gestor_usuario.id}) }}" class="btn btn-success">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}