{% extends 'gestorbase.html.twig' %}

{% block title %}GestorUsuario{% endblock %}

{% block container %}
    <h1>GestorUsuario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gestor_usuario.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ gestor_usuario.email }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ gestor_usuario.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ gestor_usuario.roles ? gestor_usuario.roles|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('gestor_usuario_index') }}" class="btn btn-warning">Atras</a>

    <a href="{{ path('gestor_usuario_edit', {'id': gestor_usuario.id}) }}" class="btn btn-success">Editar</a>

{% endblock %}