{% extends 'gestorbase.html.twig' %}

{% block title %}SolicitudTarea{% endblock %}

{% block container %}
    <h1>SolicitudTarea</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ solicitud_tarea.id }}</td>
            </tr>
            <tr>
                <th>Asunto</th>
                <td>{{ solicitud_tarea.asunto }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ solicitud_tarea.descripcion | default("Sin Descripción") }}</td>
            </tr>
            <tr>
                <th>FechaEntregaEstimada</th>
                <td>{{ solicitud_tarea.fechaEntregaEstimada | localizeddate('medium', 'short', 'es_VE', null) }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ solicitud_tarea.estado }}</td>
            </tr>
            <tr>
                <th>Creado</th>
                <td>{{ solicitud_tarea.creado | localizeddate('medium', 'short', 'es_VE', null) }}</td>
            </tr>
            <tr>
                <th>Modificado</th>
                <td>{{ solicitud_tarea.modificado | localizeddate('medium', 'short', 'es_VE', null) }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('solicitud_tarea_index') }}" class="btn btn-warning" >Volver</a>

    {% if is_granted('ROLE_CORDAR') %}
        <a href="{{ path('solicitud_tarea_edit', {'id': solicitud_tarea.id}) }}"  class="btn btn-success">Editar</a>
        <form method="post" action="{{ path('solicitud_tarea_cancel', {'id': solicitud_tarea.id}) }}" onsubmit="return confirm('¿Está seguro de querer cancelar esta Tarea?');">
            <input type="hidden" name="_token" value="{{ csrf_token('cancel' ~ solicitud_tarea.id) }}">
            <button class="btn">Cancelar</button>
        </form>
    {% endif %}

    {% if solicitud_tarea.estado is same as 3 %}
    {% endif %}

    {# {{ include('solicitud_tarea/_delete_form.html.twig') }} #}
{% endblock %}