{% extends 'gestorbase.html.twig' %}

{% set servstatus = ['Creado','Aceptado','Cancelado','En Progreso','Invalido4','Por Revisar','Invalido6','Completado'] %}

{% block title %}Indice de Solicitudes de Servicio.{% endblock %}

{% block container %}
    <h1>Indice de Solicitudes de Servicio.</h1>

    <a href="{{ path('solicitud_servicio_new') }}" class="btn btn-default">New Servicio</a>
    <a href="{{ path('homepage') }}" class="btn btn-warning">Back</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Asunto</th>
                <th>Oficio</th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th>Creado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for solicitud_servicio in solicitud_servicios %}
            <tr>
                <td>{{ solicitud_servicio.id }}</td>
                <td>{{ solicitud_servicio.asunto }}</td>
                <td>{{ solicitud_servicio.codigoDocumento | default("Sin Documento")}}</td>
                <td>{{ solicitud_servicio.descripcion }}</td>
                <td>{{ servstatus[solicitud_servicio.estado] }}</td>
                <td>{{ solicitud_servicio.creado|localizeddate('medium', 'short', 'es_VE', null) }}</td>
                <td>
                    <a href="{{ path('solicitud_servicio_show', {'id': solicitud_servicio.id}) }}" class="btn btn-default">Mostrar</a>
                    <a href="{{ path('solicitud_servicio_edit', {'id': solicitud_servicio.id}) }}" class="btn btn-success">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}