{% extends 'gestorbase.html.twig' %}

{% block title %}Solicitud de Servicio ID: {{ solicitud_servicio.id }}.{% endblock %}

{% block container %}
    <h1>Solicitud de Servicio ID: {{ solicitud_servicio.id }}.</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Asunto</th>
                <td>{{ solicitud_servicio.asunto }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ solicitud_servicio.descripcion | default("Sin Descripción") }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ solicitud_servicio.estado }}</td>
            </tr>
            <tr>
                <th>Creado</th>
                <td>{{ solicitud_servicio.creado|localizeddate('medium', 'short', 'es_VE', null) }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr colspan="7">Solicitudes Creadas </tr>
            <tr>
                <th>Id</th>
                <th>Area</th>
                <th>Procedencia</th>
                <th>Asunto</th>
                <th>Estado</th>
                <th>Creado</th>
                <th>Modificado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for solicitud_requerimiento in solicitud_servicio.requerimientos %}
            <tr>
                <td>{{ solicitud_requerimiento.id }}</td>
                <td>{{ solicitud_requerimiento.area }}</td>
                <td>{{ solicitud_requerimiento.procedenciaDepartamento }}</td>
                <td>{{ solicitud_requerimiento.asunto }}</td>
                <td>{{ solicitud_requerimiento.estado }}</td>
                <td>{{ solicitud_requerimiento.creado|localizeddate('medium', 'short', 'es_VE', null) }}</td>
                <td>{{ solicitud_requerimiento.modificado|localizeddate('medium', 'short', 'es_VE', null) }}</td>
                <td>
                    {% if is_granted('ROLE_CORDGN') %}
                        <a href="{{ path('solicitud_requerimientos_edit', {'id': solicitud_requerimiento.id}) }}" class="btn btn-success">Editar</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ app.request.headers.get('referer') }}" class="btn btn-warning">Back</a>

    <a href="{{ path('solicitud_servicio_edit', {'id': solicitud_servicio.id}) }}" class="btn btn-success">Edit</a>

    <a href="{{ path('solicitud_requerimientos_new', {'s_id': solicitud_servicio.id}) }}" class="btn btn-success">Crear Requerimientos</a>

    {# {{ include('solicitud_servicio/_delete_form.html.twig') }} #}
{% endblock %}